{% extends "base.html" %}

{% block title %}Add to list{% endblock %}

{% block head %}
    {{ super() }}
    <style>
      body {
        background-color: black;
      }
    </style>
{% endblock %}

{% block content %}

    <div id="header">
      <h1>Add to list</h1>
    </div>

    <form action="/listed" method="post">

      <div id="bodytext">

        <div>
          <h2>Add Film</h2>
          <p>
            <label for="film">Name:</label>
            <input type="text" id="film" film="film"/>
          </p>
          <input type="submit" value="ADD" class="btn-yellow" />
      </div>

        <div>
          <h2>Add Game</h2>
          <p>
            <label for="game">Name:</label>
            <input type="text" id="game" game="game"/>
          </p>
          <input type="submit" value="ADD" class="btn-yellow" />
      </div>

        <div>
          <h2>Add Text</h2>
          <p>
            <label for="textble">Name:</label>
            <input type="text" id="textble" film="textble"/>
          </p>
          <input type="submit" value="ADD" class="btn-yellow" />
      </div>

      <div>
        <h2>Add Misc.</h2>
        <p>
          <label for="misc">Name:</label>
          <input type="text" id="misc" film="misc"/>
        </p>
        <input type="submit" value="ADD" class="btn-yellow" />
    </div>
    </div>
<!--

        <p>
          <label for="address">Address and delivery instructions:</label>
          <textarea id="address" name="address" rows="6" required></textarea>
        </p>

      </div>
        -->

    </form>

{% endblock %}
