{% extends "base.html" %}

{% block title %}LIST{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block content %}

    <div id="header">
      <h5>
        <a href="{{ url_for('index') }}">HOME &bull;</a>
        <a href="{{ url_for('filmlink') }}">FILMS &bull;</a>
        <a href="{{ url_for('gamelink') }}">GAMES &bull;</a>
        <a href="{{ url_for('textlink') }}">TEXTS &bull;</a>
        <a href="{{ url_for('misclink') }}">MISC. &bull;</a>
        <a href="{{ url_for('listed') }}">ALL</a></h5>

      <h1>FILM LIST</h1>

      <div>
        <ol class="items">
          {% for film in films %}
          <li>{{ film[0] }}</li>
          {% endfor %}
        </ol>
      </div>
    </div>

{% endblock %}
