{% extends "base.html" %}

{% block title %}212 Burgers{% endblock %}

{% block content %}

<div id="header">
  <h1>SAVED FOR LATER</h1>
  <h5>HOME &bull; <a href="input.html">INPUT</a> &bull; <a href="output.html">OUTPUT</a></h5>
  <h4>This is for people who have too many <q>to do</q>, <q>to watch</q>, <q>to read</q> lists.
     Here everything is stored and categorised so that you can go back to it when you have time.</h4>
</div>

<div id="bodytext">
  <div>
    <h2><a href="input.html">INPUT</a></h2>
    <h3>FILM &bull; GAME &bull; TEXT &bull; MISC.</h3>
    <h6>Items to store.</h6>
  </div>

  <div>
    <h2><a href="output.html">OUTPUT</a></h2>
    <h3>FILM &bull; GAME &bull; TEXT &bull; MISC.</h3>
    <h6>Items to be retrieved from storage.</h6>
  </div>
</div>
{% endblock %}
