{% extends "base.html" %}

{% block title %}SAVED FOR LATER{% endblock %}

{% block content %}

<div id="header">
  <h5>
    <a href="{{ url_for('index') }}">HOME &bull;</a>
    <a href="{{ url_for('filmlink') }}">FILMS &bull;</a>
    <a href="{{ url_for('gamelink') }}">GAMES &bull;</a>
    <a href="{{ url_for('textlink') }}">TEXTS &bull;</a>
    <a href="{{ url_for('misclink') }}">MISC. &bull;</a>
    <a href="{{ url_for('listed') }}">ALL</a></h5>
<h1>SAVED FOR LATER</h1>

<h4>This is for people who have too many <q>to do</q>, <q>to watch</q>, <q>to read</q> lists.
   Here everything is stored and categorised so that you can go back to it when you have time.</h4>
</div>

<div id="bodytext">

  <div>
    <a style="font-size: 30px;" href="{{ url_for('filmlink') }}">FILMS</a>
  </div>

  <div>
    <a style="font-size: 30px;" href="{{ url_for('gamelink') }}">GAMES</a>
  </div>

  <div>
    <a style="font-size: 30px;" href="{{ url_for('textlink') }}">TEXTS</a>
  </div>

  <div>
    <a style="font-size: 30px;" href="{{ url_for('misclink') }}">MISC.</a>
  </div>
</div>
{% endblock %}
