{% extends "base.html" %}

{% block title %}LIST{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block content %}

    <div id="header">
      <h5>
        <a href="{{ url_for('index') }}">HOME &bull;</a>
        <a href="{{ url_for('filmlink') }}">FILMS &bull;</a>
        <a href="{{ url_for('gamelink') }}">GAMES &bull;</a>
        <a href="{{ url_for('textlink') }}">TEXTS &bull;</a>
        <a href="{{ url_for('misclink') }}">MISC. &bull;</a>
        <a href="{{ url_for('listed') }}">ALL</a></h5>
      <h1>TOTAL LIST</h1>

    </div>

    <div id="bodytext">

      <div>
        <h2>Films</h2>
        <ol>
          {% for film in films %}
          <li>{{ film[0] }}</li>
          {% endfor %}
        </ol>
      </div>

      <div>
        <h2>Games</h2>
        <ol>
          {% for game in games %}
          <li>{{ game[0] }}</li>
          {% endfor %}
        </ol>
      </div>

      <div>
        <h2>Texts</h2>
        <ol>
          {% for textble in textbles %}
          <li>{{ textble[0] }}</li>
          {% endfor %}
        </ol>
      </div>

      <div>
        <h2>Miscs</h2>
        <ol>
          {% for misc in miscs %}
          <li>{{ misc[0] }}</li>
          {% endfor %}
        </ol>
      </div>

    </div>

{% endblock %}
