{% extends "base.html" %}

{% block title %}Order - 212 Burgers{% endblock %}

{% block head %}
    {{ super() }}
    <style>
      body {
        background-color: #DFE;
      }
    </style>
{% endblock %}

{% block content %}
    <div id="header">
      <h1>Order now</h1>
      <p>PLACE YOUR ORDER</p>
    </div>

    <div id="header">

      <img src="{{ url_for('static', filename='logo.svg') }}" id="logo" />
      <h1>Welcome!</h1>
      <em>BURGERS &bull; DRINKS &bull; FRIES</em>
      <p>
        <a class="btn-yellow" href="{{ url_for('order') }}">order now</a>
      </p>

    </div>

    <div id="menu">

      <h1>Menu</h1>

      <div>
        <h2>Films</h2>
        <ol class="menu-items">
          {% for film in films %}
          <li>{{ film[0] }}</li>
          {% endfor %}
        </ol>
      </div>

      <div>
        <h2>Games</h2>
        <ol class="menu-items">
          {% for game in games %}
          <li>{{ game[0] }}</li>
          {% endfor %}
        </ol>
      </div>

      <div>
        <h2>Texts</h2>
        <ol class="menu-items">
          {% for text in texts %}
          <li>{{ text[0] }}</li>
          {% endfor %}
        </ol>
      </div>

      <div>
        <h2>Misc.</h2>
        <ol class="menu-items">
          {% for misc in miscs %}
          <li>{{ misc[0] }}</li>
          {% endfor %}
        </ol>
      </div>


{% endblock %}
